<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" type="image/svg+xml" href="static/css/favicon.svg" /> 
    <title>Groupie Tracker</title>
</head>
<body>
    <h1>Groupie Tracker Artists</h1>
    <div class="search-container">
        <input type="text" id="search-bar" placeholder="Search artists, members, locations..." autocomplete="off">
        <ul id="suggestions-list" class="suggestions-dropdown"></ul>
    </div>
    <div class="grid">
        {{range .Artists}}
        <a href="/artist?id={{.ID}}" class="card-link">
            <div class="card">
                <img src="{{.Image}}" alt="{{.Name}}">
                <h3>{{.Name}}</h3>
                <p>First Album: {{.FirstAlbum}}</p>  
            </div>
        </a>
        {{end}}
    </div>
    <script src="/static/js/search.js"></script>
</body>
</html>
